.contacts-container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(206, 236, 231);
}

.contact{
  border:solid black 3px;
  width: 70%;
  background-image: radial-gradient(rgb(56, 102, 117), rgb(101, 67, 143));
  margin: 5%;
  position: relative;
  left: 9%;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
}

.heading{
  color: white;
  font-weight: 900;
  font-size: 4rem;
  background-image: radial-gradient(rgb(56, 102, 117), rgb(101, 67, 143));
  position: relative;
  bottom: 2.8rem;
  padding: 1rem;
}